{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwind"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteSortOrder": "markup-styles-scripts-options",
	"parser": "svelte"
}
