@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-height: 0px;
		--footer-height: 0px;
	}

	::selection {
		@apply bg-blue text-white;
	}

	html {
		background: #000;
		color: #fff;
	}
}

@layer components {
	/* typography */

	._h {
		font-weight: bold;
		text-wrap: balance;
		font-family: theme('fontFamily.serif');
	}

	.h1 {
		@apply _h text-4xl;
	}

	.h2 {
		@apply _h text-3xl;
	}

	.h3 {
		@apply _h text-2xl;
	}

	.h4 {
		@apply _h text-xl;
	}

	.h5 {
		@apply _h text-lg;
	}

	.h6 {
		@apply _h;
	}

	.technical {
		text-transform: uppercase;
		letter-spacing: .1em;
	}

	.text-gradient {
		background-clip: text;
		/*-webkit-text-fill-color: transparent;*/
		color: transparent;
		@apply from-blue to-orange;
	}

	/* CTAs */

	._btn {
		padding: .25em .75em;
		@apply border-[.5px] border-transparent;
	}

	.action {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		@apply _btn border-current bg-black/20 backdrop-blur-sm font-serif;
	}

	.link {
		text-decoration: 1px underline wavy;
	}

	/* layout */

	.section {
		@apply max-w-screen-xl mx-auto p-8 py-12 max-md:px-4;
	}
}

@layer utilities {
	.richtext {
		@apply space-y-2 leading-relaxed;

		& h1 {
			@apply h1;
		}

		& h2 {
			@apply h2;
		}

		& h3 {
			@apply h3;
		}

		& h4 {
			@apply h4;
		}

		& h5 {
			@apply h5;
		}

		& h6 {
			@apply h6;
		}

		&>p>a:not(.action) {
			@apply link;
		}
	}

	.carousel {
		display: flex;
		scroll-snap-type: x mandatory;
		overflow-x: auto;

		&>* {
			scroll-snap-align: center;
			flex: 0 0 var(--size, min(80vw, 300px));
		}
	}
}
